{% load static %}

<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'themyscira/css/forum.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'themyscira/js/forum.js' %}"></script>
    <script src="{% static 'themyscira/js/responsive.js' %}"></script>
    <title>Foro Q&A</title>
</head>
<body>
    <header>
        <div class="h-navbar">
            <div class="h-navbar-logo">
                <a href="/"><img src="{% static 'themyscira/img/o-3-t.PNG' %}" alt="Logo Themyscira"></a>
            </div>
            <div class="h-navbar-search">
                <form action="#">
                    <input type="text" placeholder="Buscar ...">
                    <div class="lupa-search-bar">
                        <img src="{% static 'themyscira/img/busqueda.svg' %}" alt="Glass Image">
                    </div>
                </form>
            </div>
            <nav>
                <div class="nav-responsive">
                    <i class="fas fa-bars" id="responsive-ico"></i>
                </div>
                <div class="nav-non-responsive">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/search/">Search</a></li>
                        <li><a href="/foro/">Foro</a></li>
                        <li><a href="/contacto/">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="polygon-container">
            <div class="polygon-svg-decoration">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
                    <polygon points="1280,70 0,70 0,0 "/>
               </svg>
               <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
                    <polygon points="1280,70 0,70 0,0 "/>
                </svg>
            </div>
        </div>
    </header>
    <main>
        <div></div>
        <div class="main-foro-content">
            {% if preguntas %}
                {% for pregunta in preguntas %}
                    <article data-mark-scroll="randomstring">
                        <i class="fas fa-bell notificacion" title="Activar notificaciones"></i>
                        <button id="show-answer" title="Mostrar las respuestas">
                            <i class="fas fa-arrow-circle-down"></i>
                        </button>
                        <div class="question-main-content">
                            <div class="question-title">
                    <img src="{% static "themyscira/img/user"|add:pregunta.generate_random|add:".jpg" %}" alt="Imagen de usuario">
                                <span>{{ pregunta.title }}</span>
                            </div>
                            <p>{{ pregunta.data }}</p>
                            <div class="question-answer-user">
                                <form action="/foro/addresponse/" method="post">
                    {% csrf_token %}
                                    <textarea name="text-answer-user" id="text-answer-user" placeholder="Dar una respuesta ..."></textarea>
                                    <ol>
                                        <li><input type="text" placeholder="Mi email ..." name="email-answer-user"></li>
                                        <li><button>Responder!</button></li>
                    <input type="hidden" name="q-id" value="{{ pregunta.id }}"></input>
                                    </ol>
                                </form>
                            </div>
                        </div>
                        {% if respuestas %}
                            <div class="answer-main-content">
                                {% for respuesta in respuestas %}
                                    {% if respuesta.question_id == pregunta.id %}
                                        <div class="answer">
                                            <div class="answer-title">
                                                <img src="{% static "themyscira/img/user"|add:pregunta.generate_random|add:".jpg" %}" alt="Imagen de usuario">
                                                <span></span>
                                            </div>
                                            <p>{{ respuesta.data }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="active-notifications-bell">
                            <div>
                                <div class="opacity-bg-message"></div>
                                <div class="notification-message">
                                    <div>
                                        <span>Activar notificaciones!</span>
                                        <form action="/foro/getnotify/" method="post">
                        {% csrf_token %}
                                            <ol>
                                                <li><input type="text" placeholder="Email ..." name="n-email"></li>
                                                <li><button id="activar-notificaciones-question">Activar!</button></li>
                        <input type="hidden" name="n-question" value="{{ pregunta.id }}">
                                            </ol>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        </div>
        <div></div>
    </main>
    <div class="add-new-question-button">
        <button title="Añadir nueva pregunta">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="add-new-question-window">
        <div>
            <div class="opacity-bg-message"></div>
            <div class="notification-message">
                <form action="/foro/addquestion/" method="POST">
                {% csrf_token %}    
                    <ul>
                        <li>
                            <label for="titulo-pregunta-input">Titulo</label>
                        </li>
                        <li>
                            <input type="text" id="titulo-pregunta-input" name="titulo-pregunta">
                        </li>
                        <li>
                            <label for="contenido-pregunta-textarea">Pregunta</label>
                        </li>
                        <li>
                            <textarea name="pregunta-text" id="contenido-pregunta-textarea"></textarea>
                        </li>
                        <li>
                            <button>Preguntar!</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    {% if request.session.has_message %}
        <div class="notification-box-user" id="{{ request.session.has_message.error }}">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="{{ request.session.has_message.face }}">
            <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth {{ request.session.has_message.status }}"></div>
        </div>
        <div class="shadow {{ request.session.has_message.movement }}"></div>
        <div class="message"><h1 class="alert">{{ request.session.has_message.error_text }}</h1><p>{{ request.session.has_message.msg }}</p></div>
        <button class="button-box"><h1 class="{{ request.session.has_message.color }}">cerrar</h1></button>
    </div>
    {% endif %}
</body>
</html>
