{% load static %}

<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'themyscira/css/search.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="{% static 'themyscira/js/search.js' %}"></script>
    <title>Videos</title>
</head>
<body>
    <main>
        <div></div>
        <div class="main-content">
	        {% for v in videos %}
       	        <article>
                    <div class="article-content">
                        <div class="a-video-embed">
                            <iframe 
                                src="{{ v.video.url }}" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="a-video-info">
                            <span class="a-video-info-title">{{ v.video.title }}</span>
                            <div class="a-video-info-social">
                      
                                {% if v.autor.youtube != '' %}
                                    <a href="{{ v.autor.youtube }}"><i class="fab fa-youtube rojo"></i></a>
                                {% endif %}
                            
                                {% if v.autor.twitter != '' %}
                                    <a href="{{ v.autor.twitter }}"><i class="fab fa-twitter azul"></i></a>
                                {% endif %}

                                {% if v.autor.github != '' %}
                                    <a href="{{ v.autor.github }}"><i class="fab fa-github negro"></i></a>
                                {% endif %}
                                
                                {% if v.autor.twitch != '' %}
                                    <a href="{{ v.autor.twitch }}"><i class="fab fa-twitch morado"></i></a>
                                {% endif %}

                            </div>
                            <div class="a-video-info-marks">
                                <ol>
                                    {% for key, val in v.timestamp.items %}
                                        <li data-timestamp-yt="{{ key }}"><i class="far fa-clock"></i>{{ val }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <button id="show-tags">TAGS</button>
                        </div>
                    </div>
                    <div class="article-video-tags">
                        <div class="tags">
                            <ol>
                                {% for tag in v.video.tags %}
                                    <li># {{ tag }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </article>
	        {% endfor %}
        </div>
        <div></div>
    </main>
</body>
</html>
