{% load static %}

<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'themyscira/css/search.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="{% static 'themyscira/js/search.js' %}"></script>
    <script src="{% static 'themyscira/js/responsive.js' %}"></script>
    <title>Videos</title>
</head>
<body>
    <header>
        <div class="h-navbar">
            <div class="h-navbar-logo">
                <a href="/"><img src="{% static 'themyscira/img/o-3-t.PNG' %}" alt="Logo Themyscira"></a>
            </div>
            <div class="h-navbar-search">
                <form action="/search/" method="get">
                    <input type="text" placeholder="Buscar ..." name="q">
                    <div class="lupa-search-bar">
                        <img src="{% static 'themyscira/img/busqueda.svg' %}" alt="Glass Image">
                    </div>
                </form>
            </div>
            <nav>
                <div class="nav-responsive">
                    <i class="fas fa-bars" id="responsive-ico"></i>
                </div>
                <div class="nav-non-responsive">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/search/">Search</a></li>
                        <li><a href="/foro/">Foro</a></li>
                        <li><a href="/contacto/">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="polygon-container">
            <div class="polygon-svg-decoration">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
                    <polygon points="1280,70 0,70 0,0 "/>
                </svg>
                <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
                    <polygon points="1280,70 0,70 0,0 "/>
                </svg>
            </div>
        </div> 
    </header>
    <main>
        <div></div>
        <div class="main-content">
	        {% for v in videos %}
       	        <article>
                    <div class="article-content">
                        <div class="a-video-embed">
                            <div data-iframe-yt="" id="{{ v.video.url }}"></div>
                        </div>
                        <div class="a-video-info">
                            <span class="a-video-info-title">{{ v.video.title }}</span>
                            <div class="a-video-info-social">
                      
                                {% if v.autor.youtube != '' %}
                                    <a href="{{ v.autor.youtube }}"><i class="fab fa-youtube rojo"></i></a>
                                {% endif %}
                            
                                {% if v.autor.twitter != '' %}
                                    <a href="{{ v.autor.twitter }}"><i class="fab fa-twitter azul"></i></a>
                                {% endif %}

                                {% if v.autor.github != '' %}
                                    <a href="{{ v.autor.github }}"><i class="fab fa-github negro"></i></a>
                                {% endif %}
                                
                                {% if v.autor.twitch != '' %}
                                    <a href="{{ v.autor.twitch }}"><i class="fab fa-twitch morado"></i></a>
                                {% endif %}

                            </div>
                            <div class="a-video-info-marks">
                                <ol>
                                    {% for key, val in v.timestamp.items %}
                                        <li data-timestamp-yt="{{ key }}" title="Ir a"><i class="far fa-clock"></i>{{ val }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <button id="show-tags">TAGS</button>
                        </div>
                    </div>
                    <div class="article-video-tags">
                        <div class="tags">
                            <ol>
                                {% for tag in v.video.tags %}
                                    <li># {{ tag }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </article>
	        {% endfor %}
        </div>
        <div></div>
    </main>
    <script src="{% static 'themyscira/js/yt-api.js' %}"></script>
</body>
</html>
