@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
}

body .bg-color-split {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

body .bg-color-split div:nth-child(1) {
  background-image: url("../img/bgposible2.png");
  background-size: cover;
}

body main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: 75vh;
  width: 60vw;
  background-color: #f5faff;
  border-radius: 7px;
}

body main .contacto-nav-list {
  max-height: 64px;
  height: 64px;
}

body main .contacto-nav-list ul {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #6738b8;
  list-style-type: none;
  display: table;
}

body main .contacto-nav-list ul li {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  width: 25%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

body main .contacto-main-content {
  height: calc(100% - 64px);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

body main .contacto-main-content .contact-card {
  height: 100%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

body main .contacto-main-content .contact-card form {
  padding: 30px;
}

body main .contacto-main-content .contact-card form ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

body main .contacto-main-content .contact-card form ul li {
  font-size: 1.5em;
  margin-bottom: 15px;
}

body main .contacto-main-content .contact-card form ul li i {
  color: #6738b8;
  margin-right: 10px;
}

body main .contacto-main-content .contact-card form ul li input, body main .contacto-main-content .contact-card form ul li select {
  border: 1px solid #6738b8;
  border-radius: 5px;
  min-height: 35px;
  min-width: 100%;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
}

body main .contacto-main-content .contact-card form ul li span span {
  font-size: 0.6em;
}

body main .contacto-main-content .contact-card form button {
  cursor: pointer;
  margin-top: 40px;
  height: 66px;
  width: 100%;
  background-color: #6738b8;
  border: none;
  color: #f5faff;
  border-radius: 7px;
  font-size: 1.2em;
}

body main .contacto-main-content #show-json {
  position: relative;
}

body main .contacto-main-content #show-json pre {
  overflow: scroll;
  height: 100%;
  margin: 0;
  background-color: #E6E6FA;
  padding: 20px;
}

body #go-back {
  cursor: pointer;
  background-color: #f5faff;
  color: #6738b8;
  position: absolute;
  top: 5px;
  left: 5px;
  border: none;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 8px;
  font-size: 0.9em;
}

body #success-box, body #error-box {
  position: fixed;
  width: 250px;
  height: 250px;
  left: 20px;
  bottom: 20px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(40%, #B0DB7D), to(#99DBB4));
  background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #cbcdd3;
          box-shadow: 5px 5px 20px #cbcdd3;
  -webkit-perspective: 40px;
          perspective: 40px;
  z-index: 20000;
}

body #success-box h1, body #error-box h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #FCFCFC;
  padding-bottom: 5px;
  text-transform: uppercase;
}

body #success-box .green, body #error-box .green {
  color: #4ec07d;
}

body #success-box .alert, body #error-box .alert {
  font-weight: 700;
  letter-spacing: 5px;
}

body #success-box p, body #error-box p {
  margin-top: -5px;
  font-size: 0.7em;
  font-weight: 100;
  color: #5e5e5e;
  letter-spacing: 1px;
}

body #success-box button, body #error-box button {
  cursor: pointer;
}

body #success-box .dot, body #error-box .dot {
  width: 8px;
  height: 8px;
  background: #FCFCFC;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}

body #success-box .dot:hover, body #error-box .dot:hover {
  background: #c9c9c9;
}

body #success-box .two, body #error-box .two {
  right: 12%;
  opacity: .5;
}

body #success-box .face, body #error-box .face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #FCFCFC;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  -webkit-animation: bounce 1s ease-in infinite;
          animation: bounce 1s ease-in infinite;
}

body #success-box .eye, body #error-box .eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

body #success-box .right, body #error-box .right {
  left: 68%;
}

body #success-box .mouth, body #error-box .mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

body #success-box .happy, body #error-box .happy {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body #success-box .shadow, body #error-box .shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: .5;
  background: #777777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

body #success-box .scale, body #error-box .scale {
  -webkit-animation: scale 1s ease-in infinite;
          animation: scale 1s ease-in infinite;
}

body #success-box .message, body #error-box .message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}

body #success-box .button-box, body #error-box .button-box {
  position: absolute;
  background: #FCFCFC;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  -webkit-box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
          box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body #success-box .button-box:hover, body #error-box .button-box:hover {
  background: #efefef;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #error-box {
  position: fixed;
  width: 250px;
  height: 250px;
  left: 20px;
  bottom: 20px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, #EF8D9C), to(#FFC39E));
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #cbcdd3;
          box-shadow: 5px 5px 20px #cbcdd3;
}

body #error-box .face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #FCFCFC;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  -webkit-animation: roll 3s ease-in-out infinite;
          animation: roll 3s ease-in-out infinite;
}

body #error-box .sad {
  top: 49%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body #error-box .red {
  color: #e96075;
}

body #error-box .move {
  -webkit-animation: move 3s ease-in-out infinite;
          animation: move 3s ease-in-out infinite;
}

.active {
  background-color: whitesmoke;
  border-bottom: 2px solid #6738b8;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.rojo {
  color: red !important;
}

.azul {
  color: #1da1f2 !important;
}

.negro {
  color: black !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

/* -----------------------------------------------------------------------------------------
                                        KEYFRAMES
----------------------------------------------------------------------------------------- */
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    -webkit-transform: rotate(168deg);
            transform: rotate(168deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    -webkit-transform: rotate(168deg);
            transform: rotate(168deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 25%;
  }
}

@-webkit-keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

/* -----------------------------------------------------------------------------------------
                                        RESPONSIVE WEB
----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  body main {
    width: 85vw;
  }
}

@media only screen and (max-width: 768px) {
  body main {
    height: 85vh;
  }
}

@media only screen and (max-width: 628px) {
  body main {
    margin-top: 80px;
    margin-bottom: 50px;
    height: 105%;
  }
  body main .contacto-main-content {
    height: auto;
  }
  body main .contacto-main-content .contact-card form ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  body main .contacto-main-content .contact-card form button {
    margin-top: 20px;
  }
}
